/* auth.css */

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.auth-button-container {
    display: flex;
    gap: 10px;
    /* Adjust the gap between buttons */
}

.auth-button {
    background-color: #6d5a72;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.auth-button:hover {
    background-color: #543c4e;
}

.button-gap {
    width: 10px;
    /* Adjust the width of the gap between buttons */
}